
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search {
    padding-bottom: 40px;
}

.user-filter, .statistics{
        width: 300px;
        border: 1px solid black;
        border-radius: 5px;
        margin-right: 10px;
        flex-direction: row;
        align-items: center;
        padding-left: 10px;
        padding-top: 10px;
        height: 130px;
}

#inputUser {
    border: 0;
    border-bottom: 1px solid cadetblue;
    box-sizing: border-box;
    width: 50%;
    height: 1.5rem;
    font-size: 1rem;
}

#submitSearch {
    border: 1px solid cadetblue;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    width: 100px;
    height: 30px;
    color: cadetblue;
    background-color: lemonchiffon;

}

#submit-search {
    color: white;
    position: absolute;
    background-color: rgb(142,106,193);
    border: 0;
    height: 20px;
    padding: 15px 20px;
}


ul li {
    list-style: none;
}